<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap-social.css">
    <link rel="stylesheet" href="/css/style1.css">
</head>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3 col-md-offset-4"><img src="/images/pmdb.jpg" class="logo-img"/>
            <h1 class="text-center login-title">Sign in to PMDB</h1><a href="/login/facebook" class="btn btn-block btn-social btn-facebook">Login with Facebook<i class="fa fa-facebook"></i></a><a href="/login/twitter" class="btn btn-block btn-social btn-twitter">Login with Twitter<i class="fa fa-twitter"></i></a>
        </div>
    </div>
</div>
<body>
</body>
</html>